* {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  text-align: left;
}

body {
  padding-top: 4rem;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
}

p{
  color: #505050;
  font-size: 18px;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#logo {
  max-width: 15%;
  height: auto !important;
}

#buttom{
  border-radius: 10px;
  background-color: teal;
  border: none;
}

@media (max-width: 767px){
    #reverse{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

/************** Rounded Corners **************/

#rcorners1 {
  border-radius: 25px;
  height: 240px;
}

/************** Rounded Corners **************/

/************** Hero **************/

.main-header {
  position: relative;
  background-size: cover;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background: rgb(54, 161, 139);
  background: linear-gradient(
    90deg,
    rgba(54, 161, 139, 1) 0%,
    rgba(103, 184, 167, 1) 100%
  );
}

/************** Hero **************/

/************** Section I **************/

.section_1 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-size: cover;
  padding-bottom: 4.5rem;
  background: white;
}

/************** Section I **************/

/************** Section II **************/

.section_2 {
  position: relative;
  background-size: cover;
  background: white;
}

/************** Section II **************/

/************** Section III **************/

.section_3 {
  position: relative;
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background: rgb(153, 197, 193);
  background: linear-gradient(
    180deg,
    rgba(153, 197, 193, 1) 0%,
    rgba(181, 217, 214, 1) 100%
  );
}

/************** Section III **************/

/************** Section IV **************/

.section_4 {
  position: relative;
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background: white;
}

/************** Section IV **************/

/************** Section V **************/

.section_5 {
  position: relative;
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background: rgb(209, 240, 142);
  background: linear-gradient(
    180deg,
    rgba(209, 240, 142, 1) 0%,
    rgba(216, 244, 155, 1) 100%
  );
}

/************** Section V **************/

/************** Section VI **************/

.section_6 {
  position: relative;
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background: white;
}

/************** Section VI **************/

/************** Section VII **************/

.section_7 {
  position: relative;
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background: rgb(243, 159, 149);
  background: linear-gradient(
    180deg,
    rgba(243, 159, 149, 1) 0%,
    rgba(254, 181, 172, 1) 100%
  );
}

/************** Section VII **************/

/************** Section VIII **************/

.section_8 {
  position: relative;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #36a18b;
  background: linear-gradient(
    0deg,
    rgba(54, 161, 139, 1) 0%,
    rgba(103, 184, 167, 1) 100%
  );
}

/************** Section VIII **************/

/************** Section IX **************/

.section_9 {
  position: relative;
  background-size: cover;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background: rgb(243, 170, 184);
  background: linear-gradient(
    180deg,
    rgba(243, 170, 184, 1) 0%,
    rgba(255, 208, 217, 1) 100%
  );
}

/************** Section IX **************/

/************** Section X **************/

.section_10 {
  background: white;
}

/************** Section IX **************/

/************** BITCOIN ABOUT US **************/

.section_about_us {
    position: relative;
    background-size: cover;
    background: rgb(54, 161, 139);
    background: linear-gradient(
      0deg,
      rgba(54, 161, 139, 1) 0%,
      rgba(103, 184, 167, 1) 100%
    );
  }
  
/************** BITCOIN ABOUT US **************/

/************** EDUARDO **************/

.section_eduardo {
    position: relative;
    background-size: cover;
    height: 100%;
    background: rgb(153, 197, 193);
    background: linear-gradient(
      180deg,
      rgba(153, 197, 193, 1) 0%,
      rgba(181, 217, 214, 1) 100%
    );
  }
  
  /************** EDUARDO **************/

/************** FERNANDO **************/

.section_fernando {
    position: relative;
    background-size: cover;
    height: 100%;
    background: rgb(209, 240, 142);
    background: linear-gradient(
      180deg,
      rgba(209, 240, 142, 1) 0%,
      rgba(216, 244, 155, 1) 100%
    );
  }
  
/************** FERNANDO **************/

/************** DANIXA **************/

.section_danixa {
    position: relative;
    background-size: cover;
    height: 100%;
    background: rgb(243, 159, 149);
    background: linear-gradient(
      180deg,
      rgba(243, 159, 149, 1) 0%,
      rgba(254, 181, 172, 1) 100%
    );
  }
  
  /************** DANIXA **************/

/************** ERIK **************/

.section_erik {
    position: relative;
    background-size: cover;
    height: 100%;
    background: rgb(243, 170, 184);
    background: linear-gradient(
      180deg,
      rgba(243, 170, 184, 1) 0%,
      rgba(255, 208, 217, 1) 100%
    );
  }
  
  /************** ERIK **************/

/************** Footer **************/

.team,
footer {
  background: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/************** Footer **************/
